@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.App-header {
  /* background-color: #000000; */
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes color-change {
  0% { border-color: '#feadce';}
  50% { border-color: '#6cc9da';}
  100% { border-color: '#a5afd4';}
}

@keyframes color-change-outside {
  100% { border-color: '#feadce';}
  50% { border-color: '#6cc9da';}
  0% { border-color: '#a5afd4';}
}